{% extends 'perfect/bases.html' %} {% load static %} {% block title %} Caisse{% endblock title %} {% block main_content %} {% if user.user_type == '4' %} {% else %}
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 p-1">
          <div class="card" style="height: 132%; background-color:rgba(255, 255, 255, 0.91);">
            <div class="row p-0 m-0">
              <div class="col-md-8 p-1">
                <div class="chart p-0" style="border-radius: 0px; background: rgba(255, 255, 255, 0.3); border-radius: 4px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(2px);--webkit-backdrop-filter: blur(2px);">
                  <canvas id="barChart" style="min-height: 100%; height: 100%; max-height: 100%; max-width: 100%;"></canvas>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                </div>
                <script>
                    const ctyo = document.getElementById('barChart').getContext('2d');
                    new Chart(ctyo, {
                        type: 'pie',
                        data: {
                            labels: ["A", "B", "C"],
                            datasets: [{
                                label: 'changées vtc',
                                data: [12, 20, 45],
                                borderWidth: 2,
                                borderColor: ['rgb(220,53,69)', 'rgb(255, 230, 7)', 'rgb(5,203,163)'],
                                backgroundColor: [
                                    'rgb(255, 0, 0,.6)', // Rouge pour A
                                    'rgba(255, 255, 2, .6)', // Jaune pour B
                                    'rgb(5,203,163,.6)' // Vert pour C
                                ],
                                tension: 0.4,
                                fill: true,
                            }, ]
                        },
                    });
                </script>
              </div>

              <div class="col-md-4 p-1 text-secondary" style="border-radius: 4px; background: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(4px);--webkit-backdrop-filter: blur(4px); font-size: 12px">
                      Ventes du [date]
                  <div class="card-body" style="height: 78%; border-radius: 0px; background: rgba(255, 255, 255, 0.3);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(8px);--webkit-backdrop-filter: blur(8px);">
                    <div style="margin-left: -10px; margin-top: 1px;">
                      <div class="d-flex justify-content-between mb-2">
                        <div>Alto </div>
                        <div id="remise" class="text-end mb-0 ms-auto">{{ commande.remise }}7000</div>
                      </div>
                      <div class="d-flex justify-content-between mb-2">
                        <div>Dzire</div>
                        <div id="remise" class="text-end mb-0 ms-auto">{{ commande.remise }}20000</div>
                      </div>
                      <div class="d-flex justify-content-between mb-2">
                        <div>S-presso</div>
                        <div id="remise" class="text-end mb-2 ms-auto">{{ commande.remise }}45000</div>
                      </div>
                      <div class="d-flex justify-content-between mb-2">
                        <div>A: 200</div> <div>D: 74</div> <div>S: 58</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% comment %} <div class="card col-md-12 p-1"> {% endcomment %}
                <p class="p-1 text-secondary" style="font-weight:700; font-size:12px"> Liste des ventes du jour</p>
                <div class="card-body table-responsive p-1" style="height: 114px; font-size:12px">
                  <table id="example2" class="table table-head-fixed text-nowrap">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Reason</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="text-success">Approved</span></td>
                      </tr>
                      <tr>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="text-success">Approved</span></td>
                      </tr>
                      <tr>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="text-success">Approved</span></td>
                      </tr>
                      <tr>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="text-success">Approved</span></td>
                      </tr>
                      <tr>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="text-success">Approved</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {% comment %} </div> {% endcomment %}
            </div>
          </div>

          <div class="col-md-6 p-1">
            <div class="card" style="height: 132%; background-color:rgba(255, 255, 255, 0.91);">
              <p class="p-1 text-secondary" style="font-weight:700; font-size:12px;">Liste des commandes</p>
              <div class="card-body table-responsive p-1" style="height: 300px; font-size:10px;">
                <table id="example1" class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>DATE</th>
                      <th>N°TICKET</th>
                      <th>VALIDATION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>11-7-2014</td>
                      <td>##458##</td>
                      <td><span class="text-success"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:20px"></i></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %} 
{% endblock main_content %}