{% extends "base.html" %} 
{% block title %}DASHBOARD{% endblock %} 
{% block main_content %}

<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>

<div id="content" class="app-content p-3">
    <div class="row g-2">
        <div class="col-xl-12">
            <div class="row g-2">
                <div class="col-xl-2 col-lg-4 col-6">
                    <div class="card h-100">
                        <div class="card-header">VENTE JOURNALIERE</div>
                        <div class="card-body">
                            <div class="h4 fw-100 text-theme mb-1">{{total_cmde_revenue_jour}}</div>
                            <p class="text-white fs-10px mb-0">
                                Pieces vendues: {{nb_piece_jour_vendu}}
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                Total panier validé: {{nb_paniers_jours_cours}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-6">
                    <div class="card h-100">
                        <div class="card-header">VENTE MENSUELLE</div>
                        <div class="card-body">
                            <div class="h4 fw-100 text-theme mb-1">{{total_cmde_mois_en_cours}}</div>
                            <p class="text-white fs-10px mb-0">
                                Pieces vendues: {{nb_piece_mois_encours_vendu}}
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                Total panier validé: {{nb_paniers_mois_cours}}
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                Total commande: {{nb_cmde_mois_en_cours}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-6">
                    <div class="card h-100">
                        <div class="card-header">VENTE ANNUELLE</div>
                        <div class="card-body">
                            <div class="h4 fw-100 text-theme mb-1">{{total_cmde_annee_en_cours}}</div>
                            <p class="text-white fs-10px mb-0">
                                Pieces vendues: {{nb_piece_annee_en_cours_vendu}}
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                TOTAL panier validé: {{nb_paniers_anneen_cours}} 
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                TOTAL commande: {{nb_cmde_annee_en_cours}}
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-2 col-lg-4 col-6">
                    <div class="card h-100">
                        <div class="card-header">TOTAL REVENUE</div>
                        <div class="card-body">
                            <div class="h4 fw-100 text-theme mb-1">{{total_inventory_restant}}</div>
                            <p class="text-white fs-10px mb-0">
                                Total pièce vendue: {{total_paniers}}
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                Totale des reductions: {{total_unpaid}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-6">
                    <div class="card h-100">
                        <div class="card-header">DETAIL DU STOCK</div>
                        <div class="card-body">
                            <div class="h6 fw-100 text-theme mb-1">Total piece: {{total_pieces}}</div>
                            <p class="text-white fs-10px mb-0">TOTAL PIECE ALTO: {{total_quantite_alto}}</p>
                            <p class="text-white fs-10px mb-0">TOTAL PIECE DZIRE: {{total_quantite_dzire}}</p>
                            <p class="text-white fs-10px mb-0">TOTAL PIECE SWIFT: {{total_quantite_swift}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-6">
                    <div class="card h-100">
                        <div class="card-header">TOTALE DES PIECES</div>
                        <div class="card-body">
                            <div class="h4 fw-100 text-theme mb-1">TOTAL: {{total_pieces}}</div>
                            <p class="text-white fs-10px mb-0">
                                Valeur inventaire: {{total_inventaire}}
                            </p>
                            <p class="fs-9px mb-0 text-white text-opacity-50">
                                Estimation du stock: {{estimat_stock_format}}%
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card h-100">
                <div class="card-header with-btn">
                    EVOLUTION DES VENTES
                </div>
                <div class="card-body p-0  ">
                    <div class="row gx-0">
                        <div class="col-lg-8 position-relative">
                            <div class="card-body">
                                <div class="h-320px p-0">
                                    <canvas id="baro" class="h-100 w-100" width="500" height="343" style="display: block; box-sizing: border-box; height: 350px; width: 500px; position:relative;">
										<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
									</canvas>
                                    <script>
                                        const ctrev = document.getElementById('baro');
                                        var labels = {{ mois_label|safe }};
                                        var revenueData = {{ revenue_mensuelle_data|safe }};

                                        new Chart(ctrev, {
                                            type: 'bar',
                                            data: {
                                                labels: labels,
                                                datasets: [{
                                                    label: "Evolution des ventes",
                                                    data: revenueData,
                                                    fill: true,
                                                    borderColor: ['rgb(24,255,255)'],
                                                    tension: 0.4,
                                                    borderWidth: 1,
                                                    backgroundColor: 'rgb(0,181,127,.2)',
                                                }]
                                            },
                                            options: {
                                                scales: {
                                                    y: {
                                                        beginAtZero: true
                                                    }
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="p-3">
                                {% comment %} <div class="h4 text-theme mb-0 fw-100">[33,129]</div> {% endcomment %}
                                <p class="text-white fs-10px fw-semibold mb-0">MEILLEURS VENTES</p>
                                <hr class="my-2" />
                                <table class="w-100 text-truncate fs-8px">
                                    <thead>
                                        <tr class="text-white">
                                            <th class="w-50">CATEGORIE</th>
                                            <th class="w-25 text-end">NOMBRE</th>
                                            <th class="w-25 text-end">SOMMES</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-body text-opacity-75">
                                        {% for category in top_categories %}
                                            <tr>
                                                <td>{{ category.piece__type_voiture__type_voiture }}</td>
                                                <td class="text-end">{{ category.total_pieces }}</td>
                                                <td class="text-end">{{ category.total_revenue }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <hr class="my-2" />
                                <table class="w-180 text-truncate fs-10px">
                                    <canvas id="PIE">
										<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
									</canvas>
                                    <script>
                                        const ctx = document.getElementById('PIE');
                                        var labels = ['A', 'D','S',];
                                        var data = [{{total_pieces_alto}}, {{total_pieces_swift}}, {{total_pieces_dzire}}];
                                        new Chart(ctx, {
                                            type: 'pie',
                                            data: {
                                                labels: labels,
                                                datasets: [{
                                                    label: "Total des ventes par categorie",
                                                    data: data,
                                                    fill: true,
                                                    borderColor: ['rgb(24,255,255)','rgb(244,67,54)','rgb(198,255,0)'],
                                                    hoverOffset: 1,
                                                    backgroundColor: [
                                                        'rgb(0,181,127,.2)',
                                                    ],
                                                }]
                                            },
                                            
                                        });
                                    </script>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="row gy-2">
                <div class="col-lg-12">
                    <div class="card h-100">
                        <div class="card-header with-btn">
                            TOTAL COMMANDE PIECE EN RUPTURE ET RECU GENERE 
                        </div>
                        <div class="card-body">
                            <div class="row g-3">
                            <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-32px text-theme d-flex w-40px">
                                            <iconify-icon icon="mdi:journal" width="24" height="24"></iconify-icon>
                                        </div>
                                        <div class="flex-1">
                                            <div class="fs-10px fw-semibold text-white text-opacity-50 mb-1">COMMANDE</div>
                                            <div class="h6 mb-0 fw-base">{{cmd_en_attente_jour}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-32px text-theme d-flex w-40px">
                                            <iconify-icon icon="material-symbols-light:receipt-outline" class="fs-24px d-flex justify-content-center"></iconify-icon>
                                        </div>
                                        <div class="flex-1">
                                            <div class="fs-10px fw-semibold text-white text-opacity-50 mb-1">VENDUE</div>
                                            <div class="h6 mb-0 fw-base">{{total_tickets_issued}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-32px text-theme d-flex w-40px">
                                            <iconify-icon icon="material-symbols-light:receipt-outline" class="fs-24px d-flex justify-content-center"></iconify-icon>

                                        </div>
                                        <div class="flex-1">
                                            <div class="fs-10px fw-semibold text-white text-opacity-50 mb-1">LIVRER</div>
                                            <div class="h6 mb-0 fw-base">{{total_tickets_used}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="invisible m-0" />
                            <hr/>
                            <div class="row g-3">
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-32px text-theme d-flex w-40px">
                                            <iconify-icon icon="ph:gear-fine" width="24" height="24"></iconify-icon>
                                        </div>
                                        <div class="flex-1">
                                            <div class="fs-10px fw-semibold text-white text-opacity-50 mb-1">FAIBLE</div>
                                            <div class="h6 mb-0 fw-base">{{low_stock_pieces}}</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-32px text-theme d-flex w-40px">
                                            <iconify-icon icon="bi:cart-check-fill" class="fs-24px d-flex justify-content-center text-theme"></iconify-icon>
                                        </div>
                                        <div class="flex-1">
                                            <div class="fs-10px fw-semibold text-white text-opacity-50 mb-1">TOTAL</div>
                                            <div class="h6 mb-0 fw-base">{{cmd_payee_livrer}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-32px text-theme d-flex w-40px">
                                            <iconify-icon icon="bi:cart-fill" class="fs-24px d-flex justify-content-center text-theme"></iconify-icon>
                                        </div>
                                        <div class="flex-1">
                                            <div class="fs-10px fw-semibold text-white text-opacity-50 mb-1">A VALIDER</div>
                                            <div class="h6 mb-0 fw-base">{{cmd_en_attente_jour}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card h-100">
                        <div class="card-header with-btn">LES 10 PIECES LES PLUS VENDUES DE {{libelle_mois_en_cours|upper}}</div>
                        <div class="card-body">
                            <div class="row mb-3 fs-10px pt-1px">
                                <div class="col-12">
                                        
                                </div>
                            </div>

                            <hr class="my-2" />
                            <table class="w-100 text-truncate fs-10px table-py-1px">
                                <thead>
                                    <tr class="text-white">
                                        <th width="30%">LIBELLE</th>
                                        <th width="30%">CATEGORIE</th>
                                        <th width="30%">NOMBRE</th>
                                        <th width="10%">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for piece in top_pieces %}
                                        <tr>
                                            <td>{{ piece.piece__designation }}</td>
                                            <td>{{ piece.piece__type_voiture__type_voiture }}</td>
                                            <td>{{ piece.total_commandes }}</td>
                                            <td>{{ piece.total_somme }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

