<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de Bord du Livraison</title>
</head>
<body>
    <h1>Tableau de Bord du Livraison</h1>
    <h2>Livraison en Attente</h2>
    <table>
        <thead>
            <tr>
                <th>Numéro de Ticket</th>
                <th>Utilisateur</th>
                <th>Date de Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for panier in livraison_en_attente %}
                {% with panier.ticket_set.first as ticket %}
                <tr>
                    <td>{{ panier.ticket }}</td>
                    <td>{{ panier.utilisateur.username }}</td>
                    <td>{{ panier.date_creation }}</td>
                    <td>
                        <a href="">Voir Détails</a>
                        <a href="{% url 'valider_livraison' panier.ticket %}" onclick="return confirm('Êtes-vous sûr de vouloir valider cette livraison ?');">Valider</a>
                    </td>
                </tr>
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="4">Aucun Livraison en attente.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
