{% extends "magasin/base.html" %}
{% block title %}Liste des utilisateurs{% endblock %}

{% block main_content %}

<button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>

<div id="content" class="app-content">

<div class="container">

<div class="row justify-content-center">

<div class="col-xl-12">

<div class="row">

<div class="col-xl-12">


    
    
        <div class="modal modal-cover fade" id="modalCoverExample">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nouveau utilisateur</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    

                    <div class="modal-body"><hr>
                    <a style="text-decoration:none" class="text-center">Information de connexion</a> 
                    <hr>
                        <div class="card-body">
                            <form class="was-validated" method="post">
                                {% csrf_token %}
                                {{ user_form.as_p }}
                                {{ profile_form.as_p }}
                                <div class="row mb-n3">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationValidInput" class="form-label">Valid input</label>
                                        <input type="text" class="form-control is-valid" id="validationValidInput" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                         </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="validationInvalidInput" class="form-label">Invalid input</label>
                                        <input type="text" class="form-control is-invalid" id="validationInvalidInput" value required>
                                        <div class="invalid-feedback" id="validationInvalidInputFeedback">
                                            Please provide a name
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationInvalidInputGroup" class="form-label">Input group</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">@</span>
                                            <input type="text" class="form-control is-invalid" id="validationInvalidInputGroup" required>
                                        <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="validationSelectInvalid" class="form-label">Select dropdown</label>
                                        <select class="form-select is-invalid" id="validationSelectInvalid" required>
                                            <option selected disabled value>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    <div class="invalid-feedback">
                                        Please select a valid state.
                                    </div>
                                </div>
                                </div>
                                </div>
                            
                            <hr>
                                <a style="text-decoration:none" class="text-center">Information Profil</a> 
                            <hr>
                            
                                <div class="row mb-n3">
                                <div class="col-md-6 mb-5 position-relative">
                                <label for="validationTooltip01">Tooltip valid</label>
                                <input type="text" class="form-control" id="validationTooltip01" required>
                                <div class="valid-tooltip">
                                Looks good!
                                </div>
                                </div>
                                <div class="col-md-6 mb-5 position-relative">
                                <label for="validationTooltip02">Tooltip invalid</label>
                                <div class="input-group">
                                <div class="input-group-text">@</div>
                                <input type="text" class="form-control" id="validationTooltip02" required>
                                <div class="invalid-tooltip">
                                Field is required
                                </div>
                                </div>
                                </div>

                                <div class="col-md-6 mb-5 position-relative">
                                    <label for="validationTooltip03">Tooltip dropdown</label>
                                        <select class="form-select" id="validationTooltip03" required>
                                            <option selected disabled value>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    <div class="invalid-tooltip">
                                    Please select a valid state.
                                    </div>
                                </div>
                                <div class="col-md-12 mb-5 p-2 position-relative text-center">
                                    <button type="button" class="btn btn-outline-light btn-lg btn-block" style="border-radius: 8px;">Enrégistrer</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




<h1 class="page-header">
    {% if messages %}
        {% for msg in messages %}
          {% if msg.tags == 'error' %}
            <small id="message" class="alert alert-danger alert-dismissible fade show" role="alert">{{msg}}</small>
          {% else %}
            <small id="message" class="alert alert-success alert-dismissible fade show" role="alert">{{msg}}</small>
          {% endif %}
        {% endfor %}
    {% endif %}
</h1>
<hr class="mb-4 opacity-3" />

<div id="datatable" class="mb-5">
<div class="card">
    <div class="card-header with-btn">
        Employers
        <div class="card-header-btn">
            <a href="#" data-bs-target="#modalCoverExample" class="btn btn-theme" data-bs-toggle="modal"><i class="fas fa-plus-circle"></i></a>
        </div>
        Ajouter un nouveau Employers
    </div>
    <div class="card-body">
        <table id="datatableDefault" width="100%" class="table text-nowrap">
            <thead>
                <tr>
                <th></th>
                <th>Nom utilisateur</th>
                <th>Position</th>
                <th>Office</th>
                <th>Role</th>
                <th>Start Date</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>-</td>
                        <td><a href="{% url 'user_detail' user.pk %}">{{ user.username }} </a></td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>{{ user.profile.role }}</td>
                        <td>2024/04/25</td>
                        <td>
                            <a href="{% url 'user_update' user.pk %}"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'user_delete' user.pk %}"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
<div class="hljs-container">
<pre><code class="xml" data-url="assets/data/table-plugins/code-1.json"></code></pre>
</div>
</div>
</div>

</div>

</div>

</div>

</div>

</div>

</div>

</div>










<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade">
<iconify-icon icon="material-symbols-light:keyboard-arrow-up"></iconify-icon>
</a>


</body>

</html>

{% endblock  %}

