<!DOCTYPE html>
<html>
<head>
    <title>Détail de l'utilisateur</title>
</head>
<body>
    <h1>Détail de l'utilisateur</h1>
    <p>Nom d'utilisateur: {{ user.username }}</p>
    <p>Nom: {{ user.first_name }}</p>
    <p>Prénom: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Rôle: {{ user.profile.role }}</p>
    <a href="{% url 'user_update' user.pk %}">Modifier</a>
    <a href="{% url 'user_delete' user.pk %}">Supprimer</a>
    <a href="{% url 'user_list' %}">Retour à la liste</a>
</body>
</html>
