<!DOCTYPE html>
<html>
<head>
    <title>Liste des utilisateurs</title>
</head>
<body>
    <h1>Liste des utilisateurs</h1>
    {% for user in users %}
        <p>{{ user.username }} - {{ user.profile.role }}</p>
        <a href="{% url 'user_detail' user.pk %}">Detail</a>
        <a href="{% url 'user_update' user.pk %}">Edit</a>
        <a href="{% url 'user_delete' user.pk %}">Delete</a>
    {% endfor %}
    <br><a href="{% url 'user_create' %}">Ajouter un nouvel utilisateur</a>
    <br><a href="{% url 'piece_list' %}">liste des piece</a> 
</body>
</html>
