<!DOCTYPE html>
<html>
<head>
    <title>Vérification de l'OTP</title>
</head>
<body>
    <h1>Vérification de l'OTP</h1>
    <form method="post">
        {% csrf_token %}
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <br>
        <label for="new_password">Nouveau mot de passe:</label>
        <input type="password" id="new_password" name="new_password" required>
        <br>
        <label for="confirm_password">Confirmer le mot de passe:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>
        <button type="submit">Réinitialiser le mot de passe</button>
    </form>
</body>
</html>
