<!DOCTYPE html>
<html>
<head>
    <title>Ajouter au Panier</title>
</head>
<body>
    <h1>Ajouter des articles au panier</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="quantites" id="quantites">
        <button type="submit">Ajouter au Panier</button>
    </form>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            
            var quantites = [];
            document.querySelectorAll('input[type="number"]').forEach(function(input) {
                quantites.push(input.value);
            });
            
            document.getElementById('quantites').value = quantites.join(',');
            this.submit();
        });
    </script>
</body>
</html>
