{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>
		{% block title %}
			Magasin | Dashboard
		{% endblock %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content />
	<meta name="author" content />
	<link href="{% static 'assets/css/vendor.min.css' %} " rel="stylesheet" />
	<link href="{% static 'assets/css/app.min.css' %} " rel="stylesheet" />
	<link href="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.css' %} " rel="stylesheet" />
</head>
{% block content %}
	
{% endblock  %}
<body>

	<div id="loader" class="app-loader">
		<div class="d-flex align-items-center">
			<div class="app-loader-circle"></div>
			<div class="app-loader-text">LOADING...</div>
		</div>
	</div>
	<div id="app" class="app">

		<div id="header" class="app-header">

		<div class="desktop-toggler">
			<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
		</div>


		<div class="mobile-toggler">
			<button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
				<span class="bar"></span>
				<span class="bar"></span>
			</button>
		</div>


		<div class="brand">
		<a href="" class="brand-logo w-100">
		<iconify-icon icon="lets-icons:time-progress-duotone" class="fs-24px me-2 text-theme"></iconify-icon>
		<span class="brand-text fw-500 fs-14px">MAGASIN</span>
		</a>
		</div>


		<div class="menu">
		<div class="menu-item dropdown d-lg-flex d-none">
		<a href="#" class="menu-link">
		<span>$1,859,050.12</span>
		</a>
		</div>
		<div class="menu-item dropdown d-lg-flex d-none me-3">
		<div class="menu-search-inline">
		<iconify-icon icon="ph:magnifying-glass-duotone" class="menu-icon"></iconify-icon>
		<input class="form-control" placeholder="Search something..." value name="keywords" />
		</div>
		</div>
		<div class="menu-item dropdown dropdown-mobile-full">
			<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link menu-link-icon">
			<iconify-icon icon="ph:calendar-dots-duotone" class="menu-icon"></iconify-icon>
			</a>
			<div class="dropdown-menu dropdown-menu-end p-0 w-300px">
			<div class="card">
			<div class="card-header">TODAY, NOV 4</div>
			<div class="card-body p-0 widget-reminder">
			<div class="widget-reminder-item">
			<div class="widget-reminder-time">09:00<br>12:00</div>
			<div class="widget-reminder-divider bg-success"></div>
			<div class="widget-reminder-content">
			<div class="fw-semibold text-white">Meeting with HR</div>
			<div> - Conference Room</div>
			</div>
			</div>
			<div class="widget-reminder-item">
			<div class="widget-reminder-time">20:00<br>23:00</div>
			<div class="widget-reminder-divider bg-primary"></div>
			<div class="widget-reminder-content">
			<div class="fw-semibold text-white">Dinner with Richard</div>
			<div> - Tom's Too Restaurant</div>
			<div class="d-flex align-items-center mt-2">
			<div class="flex-fill d-flex align-items-center">
			<img src="assets/img/user/user-3.jpg" alt width="16" class="me-2"> Richard Leong
			</div>
			<a href="#" class="ms-auto">Contact</a>
			</div>
			</div>
			</div>
			</div>
			<div class="card-header">TOMORROW, NOV 5</div>
			<div class="card-body p-0 widget-reminder">
			<div class="widget-reminder-item">
			<div class="widget-reminder-time">All day</div>
			<div class="widget-reminder-divider bg-gray-300"></div>
			<div class="widget-reminder-content">
			<div class="fw-semibold text-white">Terry Birthday</div>
			</div>
			</div>
			<div class="widget-reminder-item">
			<div class="widget-reminder-time">08:00</div>
			<div class="widget-reminder-divider bg-gray-300"></div>
			<div class="widget-reminder-content">
			<div class="fw-semibold text-white">Meeting</div>
			</div>
			</div>
			<div class="widget-reminder-item">
			<div class="widget-reminder-time">00:00<br>00:30</div>
			<div class="widget-reminder-divider bg-gray-300"></div>
			<div class="widget-reminder-content">
			<div class="fw-semibold text-white">Server Maintenance</div>
			<div> - Data Centre</div>
			</div>
			</div>
			</div>
			</div>
			<a class="dropdown-item fs-10px text-center py-2 d-block" href="calendar.html">VIEW ALL</a>
			</div>
			</div>
			
			
			
			<div class="menu-item dropdown dropdown-mobile-full">
			<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link menu-link-icon">
			<iconify-icon icon="ph:squares-four-duotone" class="menu-icon"></iconify-icon>
			</a>
			<div class="dropdown-menu fade dropdown-menu-end p-0 w-300px text-center">
			<div class="row row-grid gx-0">
			<div class="col-4">
			<a href="email_inbox.html" class="dropdown-item text-decoration-none p-3 bg-none">
			<div class="position-relative">
			<i class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
			<i class="bi bi-envelope h2 opacity-5 d-block my-1"></i>
			</div>
			<div class="fw-500 fs-10px text-white">INBOX</div>
			</a>
			</div>
			<div class="col-4">
			<a href="pos_customer_order.html" target="_blank" class="dropdown-item text-decoration-none p-3 bg-none">
			<div><i class="bi bi-hdd-network h2 opacity-5 d-block my-1"></i></div>
			<div class="fw-500 fs-10px text-white">POS SYSTEM</div>
			</a>
			</div>
			<div class="col-4">
			<a href="calendar.html" class="dropdown-item text-decoration-none p-3 bg-none">
			<div><i class="bi bi-calendar4 h2 opacity-5 d-block my-1"></i></div>
			<div class="fw-500 fs-10px text-white">CALENDAR</div>
			</a>
			</div>
			</div>
			<div class="row row-grid gx-0">
			<div class="col-4">
			<a href="helper.html" class="dropdown-item text-decoration-none p-3 bg-none">
			<div><i class="bi bi-terminal h2 opacity-5 d-block my-1"></i></div>
			<div class="fw-500 fs-10px text-white">HELPER</div>
			</a>
			</div>
			<div class="col-4">
			<a href="settings.html" class="dropdown-item text-decoration-none p-3 bg-none">
			<div class="position-relative">
			<i class="bi bi-circle-fill position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"></i>
			<i class="bi bi-sliders h2 opacity-5 d-block my-1"></i>
			</div>
			<div class="fw-500 fs-10px text-white">SETTINGS</div>
			</a>
			</div>
			<div class="col-4">
			<a href="widgets.html" class="dropdown-item text-decoration-none p-3 bg-none">
			<div><i class="bi bi-collection-play h2 opacity-5 d-block my-1"></i></div>
			<div class="fw-500 fs-10px text-white">WIDGETS</div>
			</a>
			</div>
			</div>
			</div>
			</div>


		<div class="menu-item dropdown">
			<div class="dropdown-menu dropdown-menu-end fade">
				<h6 class="dropdown-header">Settings</h6>
				<a class="dropdown-item" href="#">General Settings</a>
				<a class="dropdown-item" href="#">System Preferences</a>
				<a class="dropdown-item" href="#">Security Settings</a>
				<a class="dropdown-item" href="#">Application Settings</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">About</a>
				<a class="dropdown-item" href="#">Feedback</a>
			</div>
		</div>
		<div class="menu-item dropdown dropdown-mobile-full">
			<a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link d-flex align-items-center">
				<div class="menu-img online me-sm-2 ms-lg-0 ms-n2">
					<img src="assets/img/user/profile.jpg" alt="Profile" class />
				</div>
				<div class="menu-text d-sm-block d-none">
					<span class="d-block"><span><span class="__cf_email__" >{{user.username}}</span></span></span>
				</div>
			</a>
				<div class="dropdown-menu dropdown-menu-end me-lg-3 fs-10px fade">
			<h6 class="dropdown-header">{{ user.profile.role }}</h6>
			<a class="dropdown-item" href="profile.html">VIEW PROFILE</a>
			<a class="dropdown-item" href="settings.html">ACCOUNT SETTINGS</a>
			<a class="dropdown-item" href="calendar.html">CALENDER SETTINGS</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="helper.html">HELP & SUPPORT</a>
			<a class="dropdown-item" href="{% url "deconnexion" %}"><i class="fa fa-sign-out" aria-hidden="true"></i> DECONNEXION</a>
		</div>
		</div>
		</div>


		<form class="menu-search-float" method="POST" name="header_search_form">
			<div class="menu-search-container">
			<div class="menu-search-icon"><i class="bi bi-search"></i></div>
			<div class="menu-search-input">
			<input type="text" class="form-control" placeholder="Search something..." />
			</div>
			<div class="menu-search-icon">
			<a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
			</div>
			</div>
		</form>
	</div>


	<div id="sidebar" class="app-sidebar">
		<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
			<div class="menu">
				<div class="menu-header">INTERFACE</div>
					<div class="menu-item active">
						<a href="{% url "adminmagasin" %}" class="menu-link">
							<span class="menu-icon"><iconify-icon icon="ph:chart-bar-duotone"></iconify-icon></span>
							<span class="menu-text">DASHBOARD</span>
						</a>
					</div>
					<div class="menu-item ">
						<a href="analytics.html" class="menu-link">
							<span class="menu-icon">
								<iconify-icon icon="ph:chart-bar-duotone"></iconify-icon>
							</span>
							<span class="menu-text">CAISSIERE DASHBOARD</span>
						</a>
					</div>
					<div class="menu-item ">
						<a href="analytics.html" class="menu-link">
							<span class="menu-icon">
								<iconify-icon icon="ph:chart-bar-duotone"></iconify-icon>
							</span>
							<span class="menu-text">ACCUEIL DASHBOARD</span>
						</a>
					</div>
					<div class="menu-item ">
						<a href="analytics.html" class="menu-link">
							<span class="menu-icon">
								<iconify-icon icon="ph:chart-bar-duotone"></iconify-icon>
							</span>
							<span class="menu-text">LIVRAISON DASHBOARD</span>
						</a>
					</div>

					<div class="menu-header">FORMS & LISTES</div>
					<div class="menu-item has-sub ">
					<a href="javascript:;" class="menu-link">
					<div class="menu-icon">
					<iconify-icon icon="ph:pencil-simple-duotone"></iconify-icon>
					<span class="w-5px h-5px rounded-3 bg-theme position-absolute top-0 end-0 mt-3px me-3px d-none"></span>
					</div>
					<div class="menu-text d-flex align-items-center">ENTREE EN STOCK</div>
					<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
					<div class="menu-item">
					<a href="pos_customer_order.html" target="_blank" class="menu-link">
						<div class="menu-text">PIECES</div>
					</a>
					</div>
					<div class="menu-item">
					<a href="pos_kitchen_order.html" target="_blank" class="menu-link">
					<div class="menu-text">KITCHEN ORDER</div>
					</a>
					</div>
					<div class="menu-item">
					<a href="pos_counter_checkout.html" target="_blank" class="menu-link">
					<div class="menu-text">COUNTER CHECKOUT</div>
					</a>
					</div>
					<div class="menu-item">
					<a href="pos_table_booking.html" target="_blank" class="menu-link">
					<div class="menu-text">TABLE BOOKING</div>
					</a>
					</div>
					<div class="menu-item">
					<a href="pos_menu_stock.html" target="_blank" class="menu-link">
					<div class="menu-text">MENU STOCK</div>
					</a>
					</div>
					</div>
					</div>
					<div class="menu-item has-sub ">
					<a href="#" class="menu-link">
					<span class="menu-icon">
					<iconify-icon icon="ph:game-controller-duotone"></iconify-icon>
					</span>
					<span class="menu-text">UI KITS</span>
					<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
					<div class="menu-item ">
					<a href="ui_bootstrap.html" class="menu-link">
					<span class="menu-text">BOOTSTRAP</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="ui_buttons.html" class="menu-link">
					<span class="menu-text">BUTTONS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="ui_card.html" class="menu-link">
					<span class="menu-text">CARD</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="ui_icons.html" class="menu-link">
					<span class="menu-text">ICONS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="ui_modal_notification.html" class="menu-link">
					<span class="menu-text">MODAL & NOTIFICATION</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="ui_typography.html" class="menu-link">
					<span class="menu-text">TYPOGRAPHY</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="ui_tabs_accordions.html" class="menu-link">
					<span class="menu-text">TABS & ACCORDIONS</span>
					</a>
					</div>
					</div>
					</div>
					<div class="menu-item has-sub ">
					<a href="#" class="menu-link">
					<span class="menu-icon">
					<iconify-icon icon="ph:pencil-simple-duotone"></iconify-icon>
					</span>
					<span class="menu-text">FORMS</span>
					<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
					<div class="menu-item ">
					<a href="form_elements.html" class="menu-link">
					<span class="menu-text">FORM ELEMENTS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="form_plugins.html" class="menu-link">
					<span class="menu-text">FORM PLUGINS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="form_wizards.html" class="menu-link">
					<span class="menu-text">WIZARDS</span>
					</a>
					</div>
					</div>
					</div>
					<div class="menu-item has-sub ">
					<a href="#" class="menu-link">
					<span class="menu-icon">
					<iconify-icon icon="ph:grid-nine-duotone"></iconify-icon>
					</span>
					<span class="menu-text">TABLES</span>
					<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
					<div class="menu-item ">
					<a href="table_plugins.html" class="menu-link">
					<span class="menu-text">TABLE PLUGINS</span>
					</a>
					</div>
					</div>
					</div>

					
				<div class="menu-item ">
					<a href="map.html" class="menu-link">
						<span class="menu-icon"><iconify-icon icon="ph:map-pin-area-duotone"></iconify-icon></span>
						<span class="menu-text">MAP</span>
					</a>
				</div>

				<div class="menu-item has-sub ">
					<a href="#" class="menu-link">
					<span class="menu-icon">
					<iconify-icon icon="ph:open-ai-logo-duotone"></iconify-icon>
					</span>
					<span class="menu-text">PAGES</span>
					<span class="menu-caret"><b class="caret"></b></span>
					</a>
					<div class="menu-submenu">
					<div class="menu-item ">
					<a href="page_products.html" class="menu-link">
					<span class="menu-text">PRODUCTS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="page_product_details.html" class="menu-link">
					<span class="menu-text">PRODUCT DETAILS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="page_orders.html" class="menu-link">
					<span class="menu-text">ORDERS</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="page_order_details.html" class="menu-link">
					<span class="menu-text">ORDER DETAILS</span>
					</a>
					</div>
					
					<div class="menu-item ">
					<a href="page_coming_soon.html" class="menu-link">
					<span class="menu-text">COMING SOON PAGE</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="page_register.html" class="menu-link">
					<span class="menu-text">REGISTER</span>
					</a>
					</div>
					<div class="menu-item ">
					<a href="page_data_management.html" class="menu-link">
					<span class="menu-text">DATA MANAGEMENT</span>
					</a>
					</div>
					<div class="menu-item ">
						<a href="page_pricing.html" class="menu-link"><span class="menu-text">PRICING PAGE</span></a>
					</div>
					</div>
				</div>

				<div class="menu-header">USER PORTAL</div>
					<div class="menu-item ">
						<a href="{% url "user_list" %}" class="menu-link">
							<span class="menu-icon"><iconify-icon icon="ph:users"></iconify-icon></span>
							<span class="menu-text">Employers</span>
						</a>
					</div>
					<div class="menu-item ">
						<a href="profile.html" class="menu-link">
							<span class="menu-icon"><iconify-icon icon="ph:user-focus-duotone"></iconify-icon></span>
							<span class="menu-text">PROFILE</span>
						</a>
					</div>
					<div class="menu-item ">
						<a href="settings.html" class="menu-link">
							<span class="menu-icon"><iconify-icon icon="ph:gear-duotone"></iconify-icon></span>
							<span class="menu-text">SETTINGS</span>
						</a>
					</div>
					<div class="mt-auto p-15px w-100">
						<a href="{% url "deconnexion" %}" target="_blank" class="btn d-block btn-secondary btn-sm py-6px w-100"><i class="fa fa-sign-out" aria-hidden="true"></i> DECONNEXION</a>
					</div>
				</div>
		</div>
	</div>
    


	{% block main_content %}
	{% endblock %}
	

		<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade">
		<iconify-icon icon="material-symbols-light:keyboard-arrow-up"></iconify-icon>
		</a>


				</div>
			</div>
		</div>
	</div>


	<script src="{% static 'assets/magas/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %} " data-cfasync="false"></script>
	<script src="{% static 'assets/magas/code/2.1.0/iconify-icon.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/js/vendor.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/js/app.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/plugins/jvectormap-next/jquery-jvectormap.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/plugins/jvectormap-content/world-mill.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/plugins/apexcharts/dist/apexcharts.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/js/demo/dashboard.demo.js' %} " type="text/javascript"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3Q0VGQKY3" type="text/javascript"></script>
	
	<script type="text/javascript">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());gtag('config', 'G-Y3Q0VGQKY3');
	</script>
	<script src="{% static 'assets/magas/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %} " data-cf-settings="10847b0cfbd4efa22118d4f9-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8ad979c61e3a0e34","version":"2024.7.0","r":1,"serverTiming":{"name":{"cfL4":true}},"token":"4db8c6ef997743fda032d4f73cfeff63","b":1}' crossorigin="anonymous"></script>

	{% comment %} <script src="{ static 'assets/js/vendor.min.js' %}" type="text/javascript"></script> {% endcomment %}
	<script src="{% static 'assets/js/app.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/%40highlightjs/cdn-assets/highlight.min.js' %}" type="text/javascript"></script>

	<script src="{% static 'assets/js/demo/highlightjs.demo.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net/js/dataTables.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.html5.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-buttons/js/buttons.print.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/plugins/bootstrap-table/dist/bootstrap-table.min.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/js/demo/table-plugins.demo.js' %}" type="text/javascript"></script>
	
	
	<script src="{% static 'assets/plugins/chart.js/dist/chart.umd.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/js/demo/chart-js.demo.js' %} " type="text/javascript"></script>
	<script src="{% static 'assets/js/demo/sidebar-scrollspy.demo.js' %} " type="text/javascript"></script>






</body>

</html>
